<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Джанго - {% block title %} {% endblock title %}</title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
<body>
    <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
               <a class="navbar-brand" href="#">Джанго простые странички</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item">
                           <a class="nav-link" href="/news/">Новостная лента</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/about/">Обо мне</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/contacts/">Мои контакты</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/admin/">Администрирование Django</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'search_posts' %}">Поиск</a>
                       </li>
                       {% if user.is_authenticated %}
                           <li class="nav-item">
                               <a class="nav-link" href="#">{% firstof request.user.get_full_name request.user.username %}</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                           </li>
                       {% else %}

                            <li class="nav-item">
                               <a class="nav-link" href="/accounts/login/">Авторизоваться</a>
                           </li>

                       {% endif %}



                   </ul>
                   <h1>{{ request.resolver_match.view_name }}</h1>
               </div>
            </div>
        </nav>
    <h4 class="text-center">
        <a title="Курс fullstack-разработчик на Python с нуля!" href="https://skillfactory.ru/python-fullstack-web-developer" class="link-secondary link-underline-opacity-0
         link-underline-opacity-75-hover" target="_blank" rel="noopener">Новости и статьи студента SkillFactory</a>
    </h4>
    {% block content %}
    {% endblock content %}
</body>
</html>